@charset "UTF-8";

/*----------------------------------------
	font
 ----------------------------------------*/
 @font-face{
     font-family:'VolvoNovum';
     src:url('../fonts/VolvoNovum-Regular.eot');
     src:url('../fonts/VolvoNovum-Regular?#iefix') format('embedded-opentype'),
         url('../fonts/VolvoNovum-Regular.woff') format('woff');
     font-weight: 400;
     font-style:normal
 }
 /*@font-face{*/
 /*    font-family:'VolvoNovum';*/
 /*    src:url('../fonts/VolvoNovum-SemiLight.eot');*/
 /*    src:url('../fonts/VolvoNovum-SemiLight?#iefix') format('embedded-opentype'),*/
 /*        url('../fonts/VolvoNovum-SemiLight.woff2') format('woff2'),*/
 /*        url('../fonts/VolvoNovum-SemiLight.woff') format('woff'),*/
 /*        url('../fonts/VolvoNovum-SemiLight.svg#Volvo-Novum-SemiLight') format('svg');*/
 /*    font-weight: 300;*/
 /*    font-style:normal*/
 /*}*/
 @font-face{
     font-family:'VolvoNovum';
     src:url('../fonts/VolvoNovum-Medium.eot');
     src:url('../fonts/VolvoNovum-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/VolvoNovum-Medium.woff') format('woff');
     font-weight: 500;
     font-style:normal
 }
@font-face{
	font-family:'volvo-light';
    src:url(../fonts/VolvoNovum-Light.eot);
    src:url(../fonts/VolvoNovum-Light.eot?#iefix) format("embedded-opentype"),
    url(../fonts/VolvoNovum-Light.woff) format("woff");
    font-weight:300;
    font-style:normal
}
/*@font-face {*/
/*    font-family: reevoo-icons;*/
/*    src: url(../fonts/reevoo-icon/reevoo-icons.eot);*/
/*    src: url(../fonts/reevoo-icon/reevoo-icons.eot?#iefix) format("embedded-opentype"),*/
/*    url(../fonts/reevoo-icon/reevoo-icons.woff) format("woff"),*/
/*    url(../fonts/reevoo-icon/reevoo-icons.ttf) format("truetype");*/
/*    font-weight: 400;*/
/*    font-style: normal*/
/*}*/

/*@font-face {*/
/*    font-family: volvo-icons;*/
/*    src: url(../fonts/volvo-icons/volvo-icons.eot);*/
/*    src: url(../fonts/volvo-icons/volvo-icons.eot?#iefix) format("embedded-opentype"),*/
/*    url(../fonts/volvo-icons/volvo-icons.woff) format("woff"),*/
/*    url(../fonts/volvo-icons/volvo-icons.ttf) format("truetype"),*/
/*    url(../fonts/volvo-icons/volvo-icons.svg) format("svg");*/
/*    font-weight: 400;*/
/*    font-style: normal*/
/*}*/

/* common */
body { margin: 0; padding: 0; overflow-x: hidden;  box-sizing: border-box; font-family: "VolvoNovum", sans-serif; font-size: 18px; color: #141414; letter-spacing: 0px; word-break: keep-all; height: 100%; }
div, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, p, form, fieldset, input, table, tr, th, td, textarea, pre { margin: 0; padding: 0;  box-sizing: border-box; font-weight: normal; }
ul, ol, li { list-style: none; }
a { cursor: pointer; text-decoration: none; color: #141414; }

h3.title_group { display: block; text-align: center; margin-top: 130px; }
h3.title_group .title_line { display: inline-block; width: 50px; height: 2px; background-color: #141414; }
h3.title_group .title { display: block;  font-size: 36px; margin-top: 20px; letter-spacing: -3px; }

 /* 간격 */
.h3_title_mg { margin-top: 60px!important; }
.m_br { display: none; }
.pc_br { display: block; }
.m_space { display: none; }