@charset "UTF-8";

img.pc_img {
    display: block;
}

img.mo_img {
    display: none;
}

.font_sans {
    /*font-family: sans-serif;*/
}

#wrap {
    position: relative;
    height: 100%;
}

/* Header */
#campaign_header {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    z-index: 10;

}

#campaign_header h1 a {
    display: inline-block;
    width: 198px;
    height: 15px;
    background: url("../images/logo.png") left top no-repeat;
    background-size: 198px 15px;
    text-indent: -99999px;
}

/* Visual */
#campaign_container {
    height: 100%;
}

#campaign_container .visual {
    position: relative;
    width: 100%;
    height: 100%;
    background: url("../images/visual.jpg") center top no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

#campaign_container .visual .title {
    width: 100%;
    position: absolute;
    top: 113px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    color: #FFF;
    font-weight: 300;
    text-align: center;
    letter-spacing: 1px;
    animation: visualText1 1.2s;
}

#campaign_container .visual .title .title_text1 {
    width: 100%;
    display: block;
    font-size: 27px;
    letter-spacing: 0px;
}

#campaign_container .visual .title .title_text2 {
    width: 100%;
    display: block;
    font-size: 65px;
}

#campaign_container .visual .title .title_text2 strong {
    font-weight: 700;
    position: relative;
}

#campaign_container .visual .title .title_text2 strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 8px;
    position: absolute;
    bottom: -3px;
    left: 1px;
    background: #fff;
}

#campaign_container .visual .title .title_text3 {
    width: 100%;
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

#campaign_container .visual .txt {
    width: 100%;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    font-size: 18px;
    color: #FFF;
    text-align: center;
    line-height: 1.6;
    animation: visualText2 1.5s;
}

#campaign_container .visual .txt div {
    margin-bottom: 20px;
}

#campaign_container .main_contents {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

h3.title_group {
    margin-top: 70px;
}

h3.title_group .tl_text {
    font-size: 40px;
    margin-top: 102px;
    color: #102f54;
    position: relative;
}

h3.title_group .tl_text strong {
    font-weight: 700;
    position: relative;
}

h3.title_group .tl_text strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: -3px;
    left: 1px;
    background: #102f54;
}

h3.title_group .stl_text1 {
    margin-top: 30px;
}

h3.title_group .stl_text1 .stl_text1_1 {
    font-size: 24px;
    color: #102f54;
}

h3.title_group .stl_text1 .stl_text1_2 {
    font-size: 18px;
}

h3.title_group .stl_text2 {
    margin-top: 65px;
}

h3.title_group .stl_text2 .stl_text2_1 {
    font-size: 24px;
    color: #102f54;
}

h3.title_group .stl_text1 .stl_text2_2 {
    font-size: 18px;
}

/* media_group */
.media_group {
    width: 100%;
    height: auto;
    margin-top: 70px;
    overflow: hidden;
}

.media_group .media_stl {
    width: 100%;
    background-color: #FFF;
    display: block;
    text-align: center;
}

.media_group .media_stl .stl_text1 {
    font-size: 22px;
    color: #102f54;
}

.media_group .media_stl .stl_text2 {
    font-size: 16px;
}

.media_group .media_inner {
    overflow: hidden;
    width: calc(100% - 120px);
    height: auto;
    background-color: #FFF;
    display: block;
    margin: 20px auto 0 auto;
}

.media_group .media_inner li {
    width: 100%;
    height: auto;
    position: relative;
    padding-top: 56%
}

.media_group .media_inner li iframe {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.event_group {
    width: 100%;
    padding: 100px 0 150px;
}

.event_group .title_box .event_inner {
    overflow: hidden;
    width: calc(100% - 30px);
    background-color: #FFF;
    margin: 10% auto 0 auto;
}

.event_group .title_box .event_inner li {
    float: left;
    width: 50%;
    height: auto;
}

.event_group .title_box .event_inner li.img2 {
    float: right;
}


.event_group .title_box .event_inner li img {
    width: 100%;
    height: auto;
}

.event_group .title_box .event_inner li.txt_group {
    display: table;
}

.event_group .title_box .event_inner li.txt_group .txt {
    /* display: table-cell; */
    vertical-align: middle;
    padding: 0 0 0 35px;
}

.event_group .title_box .event_inner li.txt_group .txt.left_array {
    padding: 0 35px 0 0;
}

.event_group .title_box .event_inner li.txt_group .txt p {
    line-height: 1.6;
    text-align: left;
    font-size: 16px;
}

.event_group .title_box .event_inner li.txt_group .txt .tit {
    font-size: 26px;
    letter-spacing: 0px;
    color: #102f54;
    margin-top: 0;
}

.event_group .title_box .event_inner li.txt_group .txt .tit span {
    font-size: 28px;
    vertical-align: top;
    line-height: 40px;
}

.event_group .title_box .event_inner li.txt_group .txt .tit span strong {
    font-weight: 700;
    position: relative;
}

.event_group .title_box .event_inner li.txt_group .txt .tit span strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 1px;
    background: #102f54;
}

.event_group .title_box .event_inner li.txt_group .txt .s_tit {
    font-size: 20px;
    color: #000;
    margin: 5% 0;
}

.event_group .title_box .event_inner li.txt_group .txt .guide {
    color: #3479c7;
    padding: 0;
}

.event_group .title_box .event_inner li.txt_group .txt .guide::before {
    content: "※";
    margin-right: 3px;
    vertical-align: top;
    font-weight: normal;
}

.event_group .title_box .event_inner li.txt_group .btn_detail {
    padding: 0 0 0 35px;
    margin-top: 20px;
    vertical-align: bottom;
    width:215px;
    height:79px;
}

.event_group .title_box .event_inner li.txt_group .btn_detail.no_pad {
    padding: 0 0 0 0;
}

.event_group .title_box .event_inner li.txt_group .btn_detail img {
    width: 100%;
    height: auto;
}




/* Event */
.event_group .title_box {
    position: relative;
}

.event_group .title_box .arrow_area {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -63px;
    display: inline-block;
    width: calc(100% - 118px);
    height: 0;
}

.event_group .title_box .arrow_area .txt_bg {
    position: absolute;
    left: calc(50% - 22px);
    width: 45px;
    bottom: -45px;
    height: 0;
    background: url("../images/txt_blt.png") left top no-repeat;
    top: -1px;
}

.event_group .title_box .arrow_area.on {
    border-top: 1px solid #eeeeee;
    height: 18px;
}

.event_group .title_box .arrow_area.on .txt_bg {
    height: 18px;
}

.event_group .event1_txt_box {
    width: calc(100% - 118px);
    margin: 45px auto;
    height: 0px;
    padding: 0;
    background-color: #f7f7f7;
    transition: all .3s;
    overflow: hidden;
}

.event_group .event1_txt_box.on {
    height: auto;
    padding: 60px 0;
    transition: all .3s;
}

.event_group .event1_txt_box .txt_box_sub {
    width: calc(100% - 120px);
    margin: 0 auto;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area {
    width: 100%;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area dl {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area dl dt {
    width: 120px;
    float: left;
    border-top: 1px solid #333;
    font-size: 18px;
    font-weight: bold;
    color: #102f54;
    padding: 15px 0;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area dl dd {
    width: calc(100% - 140px);
    float: left;
    border-top: 1px solid #333;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding: 15px 0;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area dl dd span {
    font-weight: bold;
    color: #3d5881;
}

.event_group .event1_txt_box .txt_box_sub .event_info_area dl dd.none_con {
    width: 20px;
    border-top: 0px;
    min-height: 10px;
}


.event_group .event1_txt_box .txt_box_sub .event_box_inner {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 0 0;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li {
    float: left;
    width: 50%;
    height: auto;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.img2 {
    float: right;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li img {
    width: 100%;
    height: auto;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group {
    display: table;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt {
    /* display: table-cell; */
    vertical-align: middle;
    padding: 0 0 0 35px;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt.left_array {
    padding: 0 35px 0 0;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt p {
    line-height: 1.6;
    text-align: left;
    font-size: 18px;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit {
    font-size: 24px;
    letter-spacing: 0px;
    color: #3479c7;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span {
    font-size: 32px;
    vertical-align: top;
    line-height: 40px;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span strong {
    font-weight: 700;
    position: relative;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: -1px;
    left: 1px;
    background: #102f54;
}

.event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .s_tit {
    font-size: 48px;
    font-weight: normal;
    color: #000;
    margin: 30px 0;
}

.event_group .event1_txt_box .txt_box_sub .event_gift_area {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 0 0;
}

.event_group .event1_txt_box .txt_box_sub .event_gift_area .tl_area {
    font-size: 24px;
    color: #3479c7;
    vertical-align: top;
    line-height: 40px;
}

.event_group .event1_txt_box .txt_box_sub .event_gift_area .con_area {
    margin: 15px 0 0 0;
    width: 100%;
}

.event_group .event1_txt_box .txt_box_sub .event_gift_area .con_area img {
    width: 100%;
    height: auto;
}

.event_group .event1_txt_box .txt_box_sub .event_app_guide_area {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 0 0;
}

.event_group .event1_txt_box .txt_box_sub .event_app_guide_area .tl_area {
    font-size: 24px;
    color: #3479c7;
    vertical-align: top;
    line-height: 40px;
}

.event_group .event1_txt_box .txt_box_sub .event_app_guide_area .con_area {
    margin: 15px 0 0 0;
    width: 100%;
}

.event_group .event1_txt_box .txt_box_sub .event_app_guide_area .con_area img {
    width: 100%;
    height: auto;
}

.event_group .event1_txt_box .txt_box_sub .btn_area {
    margin: 8% 0 0 0;
    width: 100%;
}

.event_group .event1_txt_box .txt_box_sub .btn_area ul {
    width: 100%;
}

.event_group .event1_txt_box .txt_box_sub .btn_area ul li {
    width: 41.76%;
    float: left;
}

.event_group .event1_txt_box .txt_box_sub .btn_area ul li img {
    width: 100%;
    height: auto;
}

.event_group .event1_txt_box .txt_box_sub .btn_area ul li:last-child {
    width: 41.76%;
    float: right;
}

/* .event_group .event1_txt_box .txt_box_sub .btn_area ul li button{
    width:100%;
    height:122px;
    background: #102f54 url('../images/ico_btn_insta.png') no-repeat 36px 22px;
    color:#fff;
    font-size:23px;
    padding:22px 36px 22px 35%;
    text-align: left;
}
.event_group .event1_txt_box .txt_box_sub .btn_area ul li button::before{
    background: url('../images/ico_btn_insta.png') no-repeat;
}

.event_group .event1_txt_box .txt_box_sub .btn_area ul li:last-child button{
    width:100%;
    height:122px;
    background:none;
    background-color: #102f54;
    color:#fff;
    font-size:23px;
    padding:22px 36px;
    text-align: center;
} */

.event_group .event2_txt_box {
    width: calc(100% - 118px);
    margin: 45px auto;
    height: 0px;
    padding: 0;
    background-color: #f7f7f7;
    transition: all .3s;
    overflow: hidden;
}

.event_group .event2_txt_box.on {
    height: auto;
    padding: 60px 0;
    transition: all .3s;
}

.event_group .event2_txt_box .txt_box_sub {
    width: 100%;
    margin: 0 auto;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area {
    width: calc(100% - 120px);
    margin: 0 auto;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area dl {
    width: 100%;
    overflow: hidden;
    margin-bottom: 15px;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area dl dt {
    width: 120px;
    float: left;
    border-top: 1px solid #333;
    font-size: 18px;
    font-weight: bold;
    color: #102f54;
    padding: 15px 0;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area dl dd {
    width: calc(100% - 140px);
    float: left;
    border-top: 1px solid #333;
    font-size: 18px;
    font-weight: normal;
    color: #000;
    padding: 15px 0;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area dl dd span {
    font-weight: bold;
    color: #3d5881;
}

.event_group .event2_txt_box .txt_box_sub .event_info_area dl dd.none_con {
    width: 20px;
    border-top: 0px;
    min-height: 10px;
}


.event_group .event2_txt_box .txt_box_sub .thema_title {
    overflow: hidden;
    width: 194px;
    margin: 20% 0 0 60px;
    font-size: 26px;
    color: #000;
    padding-top: 25px;
    border-top: 5px solid #000;
}

.event_group .event2_txt_box .txt_box_sub .thema_title.choice_app {
    width: 292px;
}

.event_group .event2_txt_box .txt_box_sub .event_section {
    overflow: hidden;
    width: 100%;
    margin: 10% 0 0 0;
}

.event_group .event2_txt_box .txt_box_sub .event_section .tl_area {
    width: calc(100% - 120px);
    margin: 10% auto 0 auto;
    font-size: 30px;
    color: #3479c7;
    vertical-align: top;
    line-height: 38px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .stl_area {
    width: calc(100% - 120px);
    margin: 30px auto 0 auto;
    font-size: 24px;
    color: #000;
}

.event_group .event2_txt_box .txt_box_sub .event_section .text_area {
    width: calc(100% - 120px);
    margin: 5px auto 0 auto;
    font-size: 18px;
    color: #808080;
}

.event_group .event2_txt_box .txt_box_sub .event_section .slide_area {
    width: 100%;
    margin: 30px auto 0 auto;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area {
    width: calc(100% - 120px);
    margin: 30px auto 0 auto;

}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl {
    width: 100%;
    overflow: hidden;
    margin-bottom: 0px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt {
    width: 120px;
    float: left;
    border-top: 1px solid #d8d8d8;
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    color: #3d5881;
    padding: 15px 0;
    letter-spacing: 70px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt.except {
    letter-spacing: 12px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd {
    width: calc(100% - 120px);
    float: left;
    border-top: 1px solid #d8d8d8;
    font-size: 18px;
    line-height: 1.6;
    font-weight: normal;
    color: #808080;
    padding: 15px 0 15px 100px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd span {
    color: #3d5881;
    margin-left: 10px;
}

.event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd span.sstl_area {
    color: #000;
    margin-left: 0px;
}

.event_group .event2_txt_box .txt_box_sub .btn_area {
    margin: 8% auto 0 auto;
    width: 29.7%;
}

.event_group .event2_txt_box .txt_box_sub .btn_area img {
    width: 100%;
    height: auto;
}


.event_group .event2_txt_box .txt_box_sub .event_thema_app {
    margin: 10% auto 0 auto;
    width: calc(100% - 120px);
    overflow: hidden;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl {
    width: 25%;
    float: left;
    margin: 5% 0;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(2) {
    margin: 5% 12.5%;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(4) {
    margin: 5% 6.25% 5% 18.75%;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(5) {
    margin: 5% 18.75% 5% 6.25%;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt {
    width: 100%;
    text-align: center;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt img {
    width: 100%;
    height: auto;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dd {
    width: 100%;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    color: #181f35;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dd a {
    font-size: 16px;
    line-height: 24px;
    color: #181f35;
}


.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt.check_area input[type=radio] {
    display: none;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt.check_area input[type=radio]+label {
    display: block;
    cursor: pointer;
    line-height: 34px;
    padding-top: 50px;
    background: url('../images/btn_radio_off.png') center top no-repeat;
}

.event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt.check_area input[type=radio]:checked+label {
    background-image: url('../images/btn_radio_on.png');
}


/* archive_group */
.archive_group {
    width: calc(100% - 30px);
    background-color: #FFF;
    margin: 0 auto 10% auto;
}

.archive_group .tit {
    margin-top: 50px;
    width: 100%
}

.archive_group .tit {
    font-size: 24px;
    letter-spacing: 0px;
    color: #102f54;
}

.archive_group .tit strong {
    font-weight: 700;
    position: relative;
}

.archive_group .tit strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 1px;
    background: #102f54;
}

.archive_group .s_tit {
    font-size: 23px;
    color: #000;
    margin: 20px 0 40px 0;
}

.archive_group .text_area {
    color: #808080;
    font-size: 18px;
}

.archive_group .text_area span {
    font-size: 20px;
    vertical-align: top;
    line-height: 22px;
}

.archive_group .text_area span strong {
    font-weight: 700;
    position: relative;
}

.archive_group .text_area strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 1px;
    background: #808080;
}

.archive_group .gallery_area {
    width: 100%;
    margin-top: 30px;
}

.archive_group .gallery_area ul {
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.archive_group .gallery_area ul li {
    display: inline-block;
    width: calc(12.5% - 8.4px);
    /* width:12.5%; */
    margin: 0 0 5px 5px;
    overflow: hidden;
}
.archive_group .gallery_area ul li:nth-child(8n+1) {
    margin: 0 0 5px 0;
}
.archive_group .gallery_area ul li img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

/* 유의사항 */
.warning_area{
    width: calc(100% - 30px);
    background-color: #FFF;
    margin: 0 auto 10% auto;
}
.warning_area .tl_area{
    width:100%;
    font-size:20px;
    color:#000;
    margin-top:50px;
}
.warning_area ul{
    width:100%;
    padding:0 0 0 10px;
    margin-top:30px;
}
.warning_area ul li{
    list-style: none;
    position: relative;
    font-weight: normal;
    line-height:24px;
    text-align: left;
    font-size:16px;
    color:#000;
}
.warning_area ul li::before {
    content: "·";
    font-weight: normal;
    position: absolute;
    left: -0.5em;
    top: 0;
}
.warning_area .btn_area{
    font-size:16px;
    color:#3479c7;
    margin-top:30px;
    letter-spacing: -0.5px;
}
.warning_area .btn_area a{
    font-size:16px;
    color:#3479c7;
    letter-spacing: -0.5px;
}

/* 관련문의 */
.contact_area{
    width: calc(100% - 30px);
    background-color: #FFF;
    margin: 0 auto 10% auto;
}
.contact_area .tl_area{
    width:100%;
    font-size:20px;
    color:#000;
    margin-top:50px;
}
.contact_area ul{
    width:100%;
    padding:0px;
    margin-top:30px;
    overflow: hidden;
}
.contact_area ul li{
    list-style: none;
    position: relative;
    font-weight: normal;
    line-height:24px;
    text-align: left;
    font-size:16px;
    color:#000;
    margin-bottom: 25px;
}
.contact_area ul li span {
    position: relative;
    font-size:17px;
}
.contact_area ul li span strong {
    font-weight: 500;
    position: relative;
}

.contact_area ul li span strong::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: -1px;
    left: 1px;
    background: #000;
}
.contact_area ul li a{
    line-height:24px;
    font-size:15px;
    color:#3479c7;
}
/* Animation */
@-webkit-keyframes visualText1 {
    0% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes visualText1 {
    0% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@-webkit-keyframes visualText2 {
    0% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    30% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

@keyframes visualText2 {
    0% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    30% {
        -webkit-transform: translate(-50%, 20px);
        transform: translate(-50%, 20px);
        opacity: 0;
        -webkit-filter: blur(12px);
        filter: blur(12px);
    }

    100% {
        -webkit-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        opacity: 1;
        -webkit-filter: blur(0);
        filter: blur(0);
    }
}

.pt01In {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: scale(1);
    opacity: 1.0;
}

.pt01Out {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: scale(0.5);
    opacity: 0.0;
}

.pt02In {
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(0, 0);
    opacity: 1.0;
}

.pt02Out {
    transition: transform 0.3s ease-out, opacity 0.5s ease-out;
    transform: translate(0, -50px);
    opacity: 0.0;
}

.pt03In {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translate(0, 0);
    opacity: 1.0;
}

.pt03Out {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translate(0, -50px);
    opacity: 0.0;
}

.pt04In {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translate(0, 0);
    opacity: 1.0;
}

.pt04Out {
    transition: transform 0.5s ease-out, opacity 0.5s ease-out;
    transform: translate(0, -30px);
    opacity: 0.0;
}

.pt05In {
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translate(0, 0);
    opacity: 1.0;
}

.pt05Out {
    transition: transform 0.8s ease-out, opacity 0.8s ease-out;
    transform: translate(0, -30px);
    opacity: 0.0;
}

/* Button */
.btn_group {
    clear: both;
}

.btn_bw {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #1c6bba;
    background-color: #FFF;
    color: #1c6bba;
}

.btn_blw {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #141414;
    background-color: #FFF;
    color: #141414;
}

.btn_bl {
    position: relative;
    display: inline-block;
    padding: 0 30px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #141414;
    background-color: #141414;
    color: #FFF;
}

.btn_hash {
    position: relative;
    display: inline-block;
    width: 190px;
    height: 37px;
    line-height: 37px;
    border: 1px solid #2d4094;
    background-color: #2d4094;
    color: #FFF;
    margin-top: 15px;
    font-size: 16px;
}

.btn_bw:hover {
    color: #FFF;
    z-index: 1;
}

.btn_bw:hover span {
    background-color: #1c6bba;
    transform: scaleX(1);
}

.btn_blw:hover {
    color: #FFF;
    z-index: 1;
}

.btn_blw:hover span {
    background-color: #141414;
    transform: scaleX(1);
}

.btn_bl:hover {
    color: #141414;
    z-index: 1;
}

.btn_bl:hover span {
    background-color: #FFF;
    transform: scaleX(1);
}

.btn_hash:hover {
    color: #2d4094;
    z-index: 1;
}

.btn_hash:hover span {
    background-color: #FFF;
    transform: scaleX(1);
}

.btn_bw span,
.btn_blw span,
.btn_bl span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 50px;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
    overflow: hidden;
    z-index: -1;
}

.btn_hash span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 37px;
    transform: scaleX(0);
    transition: all 0.3s ease-out;
    overflow: hidden;
    z-index: -1;
}

.pc {
    display: inline-block
}

.m {
    display: none !important
}

.placeholder {
    color: #A4A4A4
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input::placeholder {
    font-size: 25px;
    color: #A4A4A4 !important;
    opacity: 1;
}

input:-ms-input-placeholder {
    font-size: 25px;
    color: #A4A4A4 !important
}

input::-ms-input-placeholder {
    font-size: 25px;
    color: #A4A4A4 !important
}

input::-webkit-input-placeholder {
    font-size: 25px;
    color: #A4A4A4
}

input:-mos-input-placeholder {
    font-size: 25px;
    color: #A4A4A4
}

.swiper-container {
    width: 100%;
    height: 100%;
    z-index: 111;
    padding-bottom: 45px;
}

.swiper-wrapper {
    position: relative;
}

.swiper-wrapper .swiper-slide {
    text-align: center;
    height: 100%;
    margin: 0 auto;
}

.swiper-slide img {
    width: calc(100% - 120px) !important;
    height: auto;
}

.swiper_box {
    /* max-width: 1200px; */
    margin: 0 auto;
}

.swiper_box2 {
    width: 100%;
    height: 100%;
}

.swiper-slide-next,
.swiper-slide-prev {
    opacity: 0.3 !important;
}

.swiper-slide-active {
    opacity: 1 !important;
}

.swiper-pagination-bullet {
    width: 14px !important;
    height: 14px !important;
    background: #d8d8d8 !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 6px !important;
}

.swiper-pagination-bullet-active {
    background: #000 !important;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0px !important;
}

.swiper-button-next,
.swiper-button-prev {
    color: #FFF !important;
    z-index: 9999991 !important;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    left: 10px !important;
    background: url("../images/event2_slide_btn_prev.png") left top no-repeat;
    background-size: 28px 58px;
    width: 28px;
    height: 58px;
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    right: 10px !important;
    background: url("../images/event2_slide_btn_next.png") left top no-repeat;
    background-size: 28px 58px;
    width: 28px;
    height: 58px;
}

.m_br550 {
    display: none;
}
@media screen and (max-width: 1200px) {}

@media screen and (max-width: 1024px) {

    /* Animation */
    .pt01In {
        transform: scale(1);
        opacity: 1.0;
    }

    .pt01Out {
        transform: scale(1);
        opacity: 1.0;
    }

    .pt02In {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt02Out {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt03In {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt03Out {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt04In {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt04Out {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt05In {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    .pt05Out {
        transform: translate(0, 0);
        opacity: 1.0;
    }

    /* Button */
    .btn_bw:hover {
        background-color: #FFF;
        color: #1c6bba;
    }

    .btn_blw:hover {
        background-color: #FFF;
        color: #141414;
    }

    .btn_bl:hover {
        background-color: #141414;
        color: #FFF;
    }

    .btn_hash:hover {
        background-color: #2d4094;
        color: #FFF;
    }

    .btn_bw span,
    .btn_blw span,
    .btn_bl span {
        display: none;
    }

    .btn_hash span {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    img.pc_img {
        display: none;
    }

    img.mo_img {
        display: block;
    }

    .swiper-slide img {
        width: 100% !important;
        height: auto;
    }

    h3.title_group {
        margin-top: 20px;
    }

    h3.title_group .tl_text {
        margin-top: 60px;
    }

    .m_br {
        display: block;
    }

    .pc_br {
        display: none;
    }

    .m_space {
        display: inline-block;
        width: 17px;
    }

    /* Header */
    #campaign_header {
        top: 20px;
    }

    /* Visual */
    #campaign_container .visual {
        background: url("../images/visual_m.jpg") no-repeat center top;
        background-size: cover;
    }

    #campaign_container .visual .title {
        width: 100%;
        position: absolute;
        top: 113px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        color: #FFF;
        font-weight: 300;
        text-align: center;
        letter-spacing: -1px;
        animation: visualText1 1.2s;
    }

    #campaign_container .visual .title .title_text1 {
        width: 100%;
        display: block;
        font-size: 22px;
    }

    #campaign_container .visual .title .title_text2 {
        width: 100%;
        display: block;
        font-size: 50px;
    }

    #campaign_container .visual .title .title_text2 strong {
        font-weight: 700;
        position: relative;
    }

    #campaign_container .visual .title .title_text2 strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 6px;
        position: absolute;
        bottom: -2px;
        left: 1px;
        background: #fff;
    }

    #campaign_container .visual .title .title_text3 {
        width: 100%;
        display: block;
        font-size: 16px;
        margin-top: 20px;
    }

    #campaign_container .visual .txt {
        bottom: 95px;
        font-size: 14px;
    }

    #campaign_container .h_logo {
        bottom: 25px;
        width: 130px;
        height: 31px;
        line-height: 28px;
        font-size: 16px;
    }

    .media_group .media_inner {
        width: 100%;
        margin: 15px auto 0 auto;
    }

    .media_group .media_stl .stl_text2 {
        font-size: 14px;
        color: #a4a3a2;
        margin-top:20px;
    }

    .event_group {
        padding: 60px 0 80px;
        overflow: hidden;
    }

    .event_group .title_box .event_inner {
        width: 100%;
    }

    .event_group .title_box .event_inner li {
        float: none;
        width: 100%;
        height: auto;
    }
    .event_group .title_box .event_inner li.img2 {
        float: none;
        width: 100%;
        height: auto;
    }

    .event_group .title_box .event_inner li.txt_group {
        height: auto;
    }

    .event_group .title_box .event_inner li.txt_group .txt {
        padding: 30px 20px;
        letter-spacing: -1.0px;
    }

    .event_group .title_box .event_inner li.txt_group .txt p {
        color: #808080;
    }

    .event_group .title_box .event_inner li.txt_group .txt.left_array {
        padding: 30px 20px;
        letter-spacing: -1.0px;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit {
        font-size: 22px;
        line-height: 1.2;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span {
        font-size: 25px;
        vertical-align: top;
        line-height: 25px;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span strong {
        font-weight: 700;
        position: relative;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -1px;
        left: 1px;
        background: #102f54;
    }

    .event_group .title_box .event_inner li.txt_group .btn_detail {
        width:180px;
        height:66px;
        padding: 0 0 0 20px;
    }

    .event_group .title_box .event_inner li.txt_group .btn_detail.no_pad {
        padding: 0 0 0 20px;
    }

    .event_group .title_box .arrow_area {

        width: 100%;

    }

    .event_group .event1_txt_box {
        width: 100%;
        margin: 45px auto;
        height: 0px;
        padding: 0;
        background-color: #f7f7f7;
        transition: all .3s;
        overflow: hidden;
    }

    .event_group .event1_txt_box.on {
        height: auto;
        padding: 60px 0;
        transition: all .3s;
    }

    .event_group .event1_txt_box .txt_box_sub {
        width: calc(100% - 40px);
        margin: 0 auto;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner {
        overflow: hidden;
        width: 100%;
        margin: 10% 0 0 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li {
        float: none;
        width: 100%;
        height: auto;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.img2 {
        float: right;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li img {
        width: 100%;
        height: auto;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group {
        display: table;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt {
        /* display: table-cell; */
        vertical-align: middle;
        padding: 0 0 0 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt p {
        line-height: 1.4;
        text-align: left;
        font-size: 16px;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt.left_array {
        padding: 0 0 0 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit {
        font-size: 20px;

    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span {
        font-size: 22px;
        vertical-align: top;
        line-height: 40px;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span strong {
        font-weight: 700;
        position: relative;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .tit span strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 1px;
        background: #102f54;
    }

    .event_group .event1_txt_box .txt_box_sub .event_box_inner li.txt_group .txt .s_tit {
        font-size: 36px;
        font-weight: normal;
        color: #000;
        margin: 20px 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_info_area dl dt {
        width: 100px;
        font-size: 18px;
        padding: 12px 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_info_area dl dd {
        width: calc(100% - 110px);
        font-size: 18px;
        padding: 12px 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_info_area dl dd.none_con {
        width: 10px;
    }

    .event_group .event1_txt_box .txt_box_sub .event_gift_area .tl_area {
        font-size: 20px;
        line-height: 28px;
    }

    .event_group .event1_txt_box .txt_box_sub .event_app_guide_area .tl_area {
        font-size: 20px;
        line-height: 28px;
    }

    .event_group .event2_txt_box {
        width: 100%;
        margin: 45px auto;
        height: 0px;
        padding: 0;
        background-color: #f7f7f7;
        transition: all .3s;
        overflow: hidden;
    }

    .event_group .event2_txt_box.on {
        height: auto;
        padding: 60px 0;
        transition: all .3s;
    }


    .event_group .event2_txt_box .txt_box_sub {
        width: 100%;
        margin: 0 auto;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area {
        width: calc(100% - 40px);
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl {
        width: 100%;
        overflow: hidden;
        margin-bottom: 15px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl dt {
        width: 100px;
        font-size: 18px;
        padding: 12px 0;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl dd {
        width: calc(100% - 110px);
        font-size: 18px;
        padding: 12px 0;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl dd.none_con {
        width: 10px;
    }


    .event_group .event2_txt_box .txt_box_sub .thema_title {
        overflow: hidden;
        width: 184px;
        margin: 20% 0 0 20px;
        font-size: 26px;
        color: #000;
        padding-top: 20px;
        border-top: 5px solid #000;
    }
    .event_group .event2_txt_box .txt_box_sub .thema_title.choice_app {
        width: 246px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section {
        overflow: hidden;
        width: 100%;
        margin: 10% 0 0 0;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .tl_area {
        width: calc(100% - 40px);
        font-size: 28px;
        line-height: 32px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .stl_area {
        width: calc(100% - 40px);
        margin: 10px auto 0 auto;
        font-size: 20px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .text_area {
        width: calc(100% - 40px);
        font-size: 16px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .slide_area {
        width: 100%;
        margin: 15px auto 0 auto;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area {
        width: calc(100% - 40px);
        margin: 30px auto 0 auto;

    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl {
        width: 100%;
        overflow: hidden;
        margin-bottom: 0px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt {
        width: 80px;
        float: left;
        border-top: 1px solid #d8d8d8;
        font-size: 18px;
        font-weight: normal;
        color: #3d5881;
        padding: 15px 0;
        letter-spacing: 40px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt.except {
        letter-spacing: 2px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd {
        width: calc(100% - 80px);
        float: left;
        border-top: 1px solid #d8d8d8;
        font-size: 18px;
        font-weight: normal;
        color: #808080;
        padding: 15px 0 15px 30px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd span {
        color: #3479c7;
        margin-left: 0px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd span.sstl_area {
        color: #000;
        margin-left: 0px;
    }

    .event_group .event2_txt_box .txt_box_sub .btn_area {
        margin: 8% auto 0 auto;
        width: 50%;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app {
        width: calc(100% - 50px);
        margin: 0 auto;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl {
        width: 41%;
        float: left;
        margin: 5% 4.3%;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(2) {
        margin: 5% 4.3%;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(3) {
        margin: 5% 90.7% 5% 4.3%;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(4) {
        margin: 5% 4.3%;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl:nth-child(5) {
        margin: 5% 4.3%;
    }

    .archive_group .gallery_area ul li {
        width: calc(25% - 5.7px);
        margin: 0 0 3px 3px;
    }

    .archive_group .gallery_area ul li:nth-child(4n+1) {
        margin: 0 0 3px 0;
    }


    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        left: -25px !important;
        background-size: 18px 59px;
        width: 18px;
        height: 59px;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        right: -25px !important;
        background-size: 18px 59px;
        width: 18px;
        height: 59px;
    }
    .pc {
        display: none !important
    }

    .m {
        display: inline-block !important
    }

    input::placeholder {
        font-size: 16px;
        color: #A4A4A4
    }

    input:-ms-input-placeholder {
        font-size: 16px;
        color: #A4A4A4
    }

    input::-ms-input-placeholder {
        font-size: 16px;
        color: #A4A4A4
    }
    
}

@media screen and (max-width: 550px) {
    .event_group .event1_txt_box .txt_box_sub .event_info_area dl dt {
        width: 70px;
        font-size: 14px;
        padding: 12px 0;
    }

    .event_group .event1_txt_box .txt_box_sub .event_info_area dl dd {
        width: calc(100% - 80px);
        font-size: 14px;
        padding: 12px 0;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl dt {
        width: 70px;
        font-size: 14px;
        padding: 12px 0;
    }

    .event_group .event2_txt_box .txt_box_sub .event_info_area dl dd {
        width: calc(100% - 80px);
        font-size: 14px;
        padding: 12px 0;
    }

    .event_group .event2_txt_box .txt_box_sub .thema_title {
        overflow: hidden;
        width: 166px;
        margin: 20% 0 0 20px;
        font-size: 22px;
        color: #000;
        padding-top: 15px;
        border-top: 4px solid #000;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt {
        width: 60px;
        float: left;
        border-top: 1px solid #d8d8d8;
        font-size: 14px;
        font-weight: normal;
        color: #3d5881;
        padding: 15px 0;
        letter-spacing: 40px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dt.except {
        letter-spacing: 5.6px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .sec_con_area dl dd {
        width: calc(100% - 60px);
        float: left;
        border-top: 1px solid #d8d8d8;
        font-size: 14px;
        font-weight: normal;
        color: #808080;
        padding: 15px 0 15px 25px;
    }
    .warning_area .tl_area{
        font-size:18px;
        color:#000;
        margin-top:50px;
    }
    .warning_area ul {
        margin-top:30px;
    }
   
    .warning_area ul li{
        line-height:20px;
        font-size:14px;
    }
    .contact_area ul{
        width:100%;
        padding:0px;
        margin-top:30px;
        overflow: hidden;
    }
    .contact_area ul li{
        float:left;
        font-size:14px;
    }
    .contact_area ul li:last-child{
        float:right;
    }
    .contact_area ul li span {
        position: relative;
        font-size:14px;
    }
    .contact_area ul li a{
        line-height:24px;
        font-size:13px;
        color:#3479c7;
        display: block;
        margin-top:7px;
    }
    .m_br550 {
        display: block;
    }
}

@media screen and (max-width: 450px) {

    #campaign_container .visual .title .title_text1 {
        width: 100%;
        display: block;
        font-size: 18px;
    }

    #campaign_container .visual .title .title_text2 {
        width: 100%;
        display: block;
        font-size: 36px;
    }

    #campaign_container .visual .title .title_text2 strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        position: absolute;
        bottom: -2px;
        left: 1px;
        background: #fff;
    }

    #campaign_container .visual .title .title_text3 {
        width: 100%;
        display: block;
        font-size: 14px;
        margin-top: 20px;
    }

    #campaign_container .visual .txt {
        bottom: 40px;
        font-size: 12px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl dt.check_area input[type=radio]+label {
        padding-top: 40px;
        background-size: 24px 24px;
    }

    h3.title_group .tl_text {
        font-size: 30px;
        margin-top: 50px;
        color: #102f54;
    }

    h3.title_group .tl_text strong {
        font-weight: 700;
        position: relative;
    }

    h3.title_group .tl_text strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 5px;
        position: absolute;
        bottom: -3px;
        left: 1px;
        background: #102f54;
    }

    h3.title_group .stl_text1 {
        margin-top: 20px;
    }

    h3.title_group .stl_text1 .stl_text1_1 {
        font-size: 20px;
        color: #102f54;
    }

    h3.title_group .stl_text1 .stl_text1_2 {
        font-size: 14px;
    }

    h3.title_group .stl_text2 {
        margin-top: 65px;
    }

    h3.title_group .stl_text2 .stl_text2_1 {
        font-size: 20px;
        color: #102f54;
    }

    h3.title_group .stl_text1 .stl_text2_2 {
        font-size: 14px;
    }

    .h3_title_mg .title {
        font-size: 22px !important;
    }

    .media_group {
        margin-top: 50px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .tl_area {
        font-size: 24px;
        line-height: 30px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .stl_area {
        font-size: 16px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_section .text_area {
        font-size: 14px;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit {
        font-size: 20px;
        line-height: 1.2;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span {
        font-size: 22px;
        vertical-align: top;
        line-height: 30px;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span strong {
        font-weight: 700;
        position: relative;
    }

    .event_group .title_box .event_inner li.txt_group .txt .tit span strong::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: -1px;
        left: 1px;
        background: #102f54;
    }

    .event_group .title_box .event_inner li.txt_group .txt .s_tit {
        font-size: 17px;
        color: #000;
        margin: 5% 0;
    }
    
    
}


@media screen and (max-width: 374px) {
    .event_group .title_box .event_inner li.txt_group .txt p {
        font-size: 14px;
        letter-spacing: 0px;
        line-height: 1.4;
        color: #808080;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl dd {
        font-size: 14px;
        line-height: 20px;
    }

    .event_group .event2_txt_box .txt_box_sub .event_thema_app dl dd a {
        font-size: 14px;
        line-height: 20px;
    }

}
